@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-alice-carousel/lib/alice-carousel.css';

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input[type="search"] {
  -webkit-appearance: none;
}

h1, h2, h3, h4 {
  font-family: 'SF Pro Display', -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Helvetica, Arial, sans-serif,
					'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.articleContent {
  color: #E2E2E2;
}

.articleContent p {
  font-size: 17px;
  line-height: 27px;
  padding-bottom: 1.75rem;
}

.articleContent p a,
.articleContent ul a,
.articleContent ol a {
  text-decoration: underline;
  color: #00D932;
}

.articleContent ul {
  list-style-type: disc;
}

.articleContent ul li {
  margin-left: 1.5rem;
}

.articleContent ol {
  list-style-type: decimal;
}

.articleContent h1,
.articleContent h2,
.articleContent h3 {
  font-weight: 400;
  padding-bottom: 1.25rem;
  color: #E2E2E2;
}

.articleContent h1 {
  font-size: 28px;
  line-height: 36px;
}

.articleContent h2 {
  font-size: 28px;
  line-height: 36px;
}

.articleContent h3 {
  font-size: 22px;
  line-height: 32px;
}

.shortDescription {
  max-height: 6.125rem;
}

.shortDescription * {
  display: inline !important;
  line-height: 1.5rem !important;
}

.videoDescription * {
  overflow-wrap: anywhere;
}

.videoDescription p {
  padding-bottom: 1rem;
}

.videoDescription a {
  text-decoration: underline;
  color: #00D932;
}

.videoDescription h2,
.videoDescription h3 {
  color: #eeeeee;
  font-weight: 600;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.videoDescription h2 {
  font-size: 1.125rem;
}

/* Plyr */
.plyr {
  width: 100%;
  height: 100%;
  --plyr-color-main: #00c831;
}

.plyr--full-ui input[type='range'] {
  color: #fff;
  color: var(--plyr-range-fill-background);
}

.plyr__menu__container {
  background: var(--plyr-menu-background, hsla(0, 0%, 100%, 0.75)) ;
  -webkit-backdrop-filter: saturate(1.8) blur(20px);
  backdrop-filter: saturate(1.8) blur(20px);
}

.plyr__menu__container:after {
  border-top: var(--plyr-menu-arrow-size, 4px) solid hsla(0, 0%, 100%, 0.75);
}

.ease {
  	transition: all 0.6s cubic-bezier(0.85, 0, 0.15, 1);
}
